body {
	font-family: futura;
}

header {
	padding: 13px;
	overflow: hidden;
}

a {
	text-decoration: none;
}

figure {
	margin: 3px;
}

figcaption {
	font-size: small;
	font-style: italic;
	text-align: center;
}

section {
	margin-bottom: 0;
}

footer {
	text-align: center;
	position: relative;
	margin-top: 20px;
}

.bio-box {
	clear: both;
	padding: 13px;
	font-size: small;
}

.featured-works-box {
	clear: both;
	padding: 13px;
	font-size: small;
}

.work-image {
	border: solid 1px #ccc;
}

.logo-box{
	float: left;
	width: 60px;
	height: 60px;
}

.name-box {
	float: right;
	text-align: right;
}

.name {
	margin: 0px;
}

.job-title {
	color: #444;
	font-style: italic;
}

.portrait {
	float: right;
	margin: 10px;
	border-radius: 40px;
}

.portfolio-box {
	border: solid 1px #ccc;
	padding: 5px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.copyright {
	clear: both;
	color: #888;
	font-size: small;
	font-style: italic;
}

.global-frame{
	max-width: 1024px;
	margin: auto;
	background: #fff;
}

@media screen and (max-width: 695px) {
	figure {
		min-width: 100%;
	}
	/* caption should be moved to the right if the viewport is small*/
	.work-image {
		float: left;
	}
	figcaption {
		margin-left: 5px;
		float: left;
	}
}
