body{
	font-family: futura;
}

header{
	padding: 15px;
	overflow: hidden;
}

#logo-box{
	float: left;
	width: 60px;
	height: 60px;
}

.name-box{
	float: right;
	text-align: right;
}

#name{
	margin: 0px;
}

#job-title{
	color: #444;
	font-style: italic;
}

figcaption{
	font-size: small;
	text-align: center;
}

img{
	max-width: 100%;
}

#portrait{
	float: right;
	margin: 10px;
	border-radius: 40px;
}

.bio-box{
	clear: both;
	padding: 10px;
	font-size: small;
}

.portfolio-box{
	border: solid 1px #ccc;
	padding: 5px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work-figure{
	width: 200px;
	margin: 0px;
	padding: 1%;
}

.work-image{
	width: 100%;
	border: solid 1px #ccc;
}

footer{
	text-align: center;
	position: relative;
	margin-top: 20px;
}

#copyright{
	clear: both;
	color: #888;
	font-size: small;
	font-style: italic;
}